*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline:none;
    font-family: sans-serif;
    background-color:#ecf0f3;  
}

.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ecf0f3;
}

.calculator{

    border-radius:28px;
    box-shadow: inset 5px #ecf0f3;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4,70px);

}
input{
    grid-column: span 4;
    height: 70px;
    width:260px;
    box-shadow: inset -6px -6px 13px #fff,
                inset  6px 6px 13px black;
    border:none;
    border-radius: 32px;
    background-color:#ecf0f3 ;
    color: black;
    color: gray;
    text-align: end;
    padding:2px;
    font-size:40px;
}
button{

    box-shadow: inset 6px 6px 13px #fff,
                inset  6px 6px 13px black;
    border:none;
    border-radius:50%;
    background-color:#ecf0f3 ;
    margin: 10px;
    width:50px;
    height:50px;
    font-weight:bold;
    font-size:20px;

}
button :hover{
    background-color: rgb(189, 47, 47);
}


.submit{
    width:120px;
    border-radius: 42px;
    box-shadow: inset -6px -6px 13px #fff,
                inset  6px 6px 13px black;
    border:none;
    border-radius: 32px;
    background-color:green;
}

